.mainloading--container {
    width: 30%;
    height: 200px;
    margin: 200px auto;
    padding: 20px;
    justify-content: center;
}

.mainloading--container img {
    width: 50%;
    height: 200px;
    transition-property: all;
    transition-property: transform;
    transition-duration: 3s;
}

.mainloading--container p {
    text-align: left;
}